<!DOCTYPE html>
<html>
<head>
  <title>ProfileFrame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://profile-frame.herokuapp.com/assets/application-d0d7d9f98438d845688efb57f5294cf2de5ce365e9f726871b2d66a74cb0f616.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
