<!DOCTYPE html>
<html>
<head>
  <title>ProfileFrame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://profile-frame.herokuapp.com/assets/application-8a6f15e8a69e825c058b934f16f2454e1246c7aebd0ee4de579650cb657a42bf.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
