<!DOCTYPE html>
<html>
<head>
  <title>ProfileFrame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://profile-frame.herokuapp.com/assets/application-02c4a673fe2cdedbd47526871f5a1f02182a5696778591932e6a4ed92a684317.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
