<!DOCTYPE html>
<html>
<head>
  <title>ProfileFrame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://profile-frame.herokuapp.com/assets/application-6d98b7c5cf27abde2119f315d71c68f5599a2c4f1d74e0f4f68467a9b6d3eda0.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
