<!DOCTYPE html>
<html>
<head>
  <title>ProfileFrame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://profile-frame.herokuapp.com/assets/application-b2130a44cd6316ae9d3866685d1609487ca991e43ed18a919ae99b9b01ea5497.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
