<div class="row">
  <% @members.each do |member| %>
    <div class="col-xs-6">
      <div class="thumbnail">
        <%= image_tag member.profilepic.url(:medium) %>
      </div>
    </div>
    <div class="col-xs-8">
      <p>
        <strong>Birthday:</strong>
        <%= member.bday.strftime('%Y-%m-%d') %>
      </p>
      <p>
        <strong>Occupation:</strong>
        <%= member.occupation %>
      </p>
      <%= link_to 'Edit', edit_member_path(member), class: "btn btn-default" %>
    </div>
  <% end %>
</div>
