<h4> Welcome. We have detected that you have not create your personal profile. </h4>
<h4> Create your profile today by clicking the "Create" button below. <h4>
<%= link_to 'Create', new_member_path(member_id: member_id, member_email: member_email) %>
